body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
    color: darkblue;
}

h2{
    color: darkblue;
}
.blue{
    color: blue;
}

.flexible-container{
    display: flex;
    margin-bottom: 150px;
}

.width{
    padding-left: 2%;
    width: 50%
}

.width img{
    width: 100%
}

.width p{
    width: 60%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(blue, darkblue);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.banner{
    background-image: url(banner.png);
    background-repeat: no-repeat;
}

.dream-big{
    background-image: url(banner3.png);
    background-repeat: no-repeat;
    background-position: right;
}

.skyblue{
    color: dodgerblue;
}

.experience-area{
    background-image: url(img4.png);
    background-repeat: no-repeat;
}
.width-h{
    font-size: 30px;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
    padding-left: 20px;
}
#web-dev-experience{
    border-left: 7px solid;
   border-image: linear-gradient(blue, cyan); 
   border-image-slice: 1;
}
#full-stack-experience{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan); 
   border-image-slice: 1;
}

footer p{
    text-align: center;
}






