body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1{
    font-size: 60px;
    color: darkblue;
}

h3{
    font-size: 40px;
}

h2{
    font-size: 40px;
    color: darkblue;
}

p{
    font-size: 20px;
}

.blue{
    color: blue;
}

.flexible-container{
    display: flex;
    margin-bottom: 150px;
}

.half-width{
    padding-left: 5%;
    width: 50%;
}

.half-width img{
    width: 100%;
}

/* .half-width p{
    width: 60%;
} */

.link-button{
    text-decoration: none;
    background-image: linear-gradient(blue, darkblue);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.skyblue{
    color: dodgerblue;
}

.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.width-h{
    font-size: 30px;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
    padding-left: 20px;
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan); 
   border-image-slice: 1;
}

footer p{
    text-align: center;
}






